{{=<% %>=}}
<div class="jumbotron">
	<h2 data-editable="slogan">{{slogan}}</h2>
	<p class="lead" data-editable="mission">{{mission}}</p>
</div>
<hr>
<div class="row-fluid marketing">
	<div class="span6">
    <img class="imgChangeable" src="{{img.cat}}" alt="">
	</div>

	<div class="span6">
    <p data-editable="text">{{{text}}}</p>
    <a class="btn btn-danger" data-editable="contact" href="/about">Entrar em contato</a>
	</div>
</div>

