{{=<% %>=}}
<div class="row">
<div class="span3 pull-left">
  <form class="form-signin">
    <h2 class="form-signin-heading">Contato</h2>
    <input type="text" placeholder="Email">
    <input type="password" placeholder="Nome">
    <input type="text" placeholder="Telefone para contato">
    <textarea placeholder="Mensagem"></textarea>
    <br/>
    <button class="btn btn-danger" type="submit">Enviar</button>
  </form>
</div>
<div class="span3 pull-right">
  <h3>Visite-nos ou Ligue</h3>

  <strong>Horário de funcionamento: </strong>{{business_hours}}<br><br>

  <strong>Telefone: </strong>{{phone}}<br><br>

  <address>
    <strong>{{brand}}</strong><br>
      {{{address}}}
    </address>
</div>
</div>
