{{=<% %>=}}
<!DOCTYPE html>
<html lang="en">
     <head>
          <%> meta/head %>
          <%> meta/css %>
     </head>
     <body class="container-narrow">
		<%> commons/header %>
		<%#home?%>
		  <%> pages/home %>
		<%/home?%>
		<%#about?%>
		  <%> pages/about %>
		<%/about?%>
		<%#gallery?%>
		  <%> pages/gallery %>
		<%/gallery?%>
		<%#contact?%>
		  <%> pages/contact %>
		<%/contact?%>
		<%> commons/footer%>
	  </body>
</html>